/addons/*.pbo
/addons/task_force_radio_items/texHeaders.bin
/addons/task_force_radio_items.log
/addons/task_force_radio.log
/addons/*.biprivatekey
/addons/task_force_radio/texHeaders.bin
/addons/task_force_radio.pbo.bak


/task_force_radio_pipe.dll
/task_force_radio_pipe/Debug
/task_force_radio_pipe/Release
/task_force_radio_pipe/ipch
/task_force_radio_pipe/task_force_radio_pipe.sdf
/task_force_radio_pipe/task_force_radio_pipe.vcxproj.filters
/task_force_radio_pipe/task_force_radio_pipe.opensdf
/task_force_radio_pipe/task_force_radio_pipe.vcxproj.user
/task_force_radio_pipe/exe
/task_force_radio_pipe/*.suo

/ts/bin/plugins/task_force_radio.ilk
/ts/bin/plugins/task_force_radio.pdb
/ts/bin/plugins/task_force_radio.dll
/ts/bin/plugins/task_force_radio.lib
/ts/bin/plugins/task_force_radio.exp
/ts/src/Release
/ts/src/Debug
/ts/src/ipch
/ts/src/task_force_radio_plugin.sdf
/ts/src/task_force_radio_plugin.opensdf
/ts/src/task_force_radio_plugin.vcxproj.filters
/ts/src/task_force_radio_plugin.vcxproj.user
/ts/ipch

/ts/task_force_radio_plugin.opensdf
/ts/task_force_radio_plugin.sdf
/ts/task_force_radio_plugin.sln
/ts/task_force_radio_plugin.suo

/ts/src/acre.log


/addons/DSSignFile.exe
/keys/DSCreateKey.exe

/ts/*.suo
/misc/documentation-generator/*.iws
/misc/documentation-generator/*.ipr
/misc/documentation-generator/*.iml
/misc/documentation-generator/out
/misc/documentation-generator/.gradle
/misc/documentation-generator/.idea
/misc/documentation-generator/classes
*.suo
*.opendb
